{% autoescape off %}  
Hi {{ user.first_name }},

Thank you for signing up for InterviewStreak! To ensure the security of your account and access all our features, please verify your email address by clicking the link below:

{{ host }}{% url 'migpt:verify_email' uidb64=uid token=token %}  

If the link is not clickable, you can copy and paste it into your browser's address bar.

If you did not sign up for InterviewStreak, please ignore this email. Your account will not be activated until you verify your email address.

Thank you,
The InterviewStreak Team
{% endautoescape %}