{% load static %}
{% include "migpt/base.html" %}
<section class="contact_section layout_padding">
  <div class="container ">
    <div class="heading_container">
      <h2>
        Email Verification
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="display-message">
        We have sent you an email with the email verification link. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
      </div>
  </div>
</section>

{% include "migpt/footer.html" %}
