{% load static %}
{% include "migpt/base.html" %}
<section class="contact_section layout_padding">
  <div class="container ">
    <div class="heading_container">
      <h2>
        Oops! Scheduling Issue
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="display-message">
      We're sorry, but there seems to be an issue scheduling your interview session. Please try <a href = "{% url 'migpt:create_interview_session' %}">scheduling</a> again or reach out to us for assistance at <a href = "{% url 'migpt:contact' %}">Contact Us</a>.
      </div>
  </div>
</section>

{% include "migpt/footer.html" %}
