<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Login</title>
    
</head>
<body>
    <div class="hero_area">
    {% include "migpt/base.html" %}
    <div class="form-container">
        <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form }} 
                <br>                   
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
            <span>
              New User?
            </span>
            <div class="heading_container">
              <a href="/accounts/signup"><h6>Sign UP</h6>
              </a>
            </div>
        </div>
      </div>
    </div>
</body>
</html>