<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    {% include "migpt/base.html" %}
    <!-- <div class="login-form">
        <form>
            
        </form>
    </div> -->
    <div class="login-form">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form }}                    
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <div>
            <a href="/accounts/signup">Create account</a>
        </div>
    </div>
</body>
</html>