
.form-container {
    width: 300px;           /* Set this to your convenience */
    height: 400px;          /* Set this to your convenience */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background-color: #f1eff1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(178, 31, 31, 0.2); /* Increased depth effect */
    width: 400px; /* Increased container width */
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 300px;           /* Set this to your convenience */
    height: 480px;          /* Set this to your convenience */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    background-color: #f1eff1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Increased depth effect */
    width: 400px; /* Increased container width */
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
}
.centerform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%,-80%);
  }
label {
    margin-bottom: 10px; /* Increased label margin */
    font-size: 16px; /* Increased font size */
}

input {
    padding: 15px; /* Increased input padding */
    margin-bottom: 15px; /* Increased input margin */
    border: 1px solid #cdc4c4;
    border-radius: 10px; /* Increased border radius */
    font-size: 16px; /* Increased font size */
}

button {
    padding: 15px; /* Increased button padding */
    background-color: #4b208c;
    color: #fff;
    border: none;
    border-radius: 10px; /* Increased border radius */
    cursor: pointer;
    font-size: 18px; /* Increased font size */
}

button:hover {
    background-color: #32465c;
}
