{% load static %}
{% include "migpt/base.html" %}
<section class="contact_section layout_padding">
  <div class="container ">
    <div class="heading_container">
      <h2>
        Email not Verified
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="display-message">
        <p>The email associated with this account is not verified. We have sent you an email with the email verification link. Please verify the email to use our services.</p>
        <p>If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
        <div class="resend-email-button">
          <a href="{% url 'migpt:resend_verification_email' %}?email={{ email }}" class="btn btn-secondary">Resend Verification Email</a>
        </div>
    </div>
  </div>
</section>

{% include "migpt/footer.html" %}
