{% load static %}
{% include "migpt/base.html" %}
<div class="container layout_padding">
  <div class="heading_container">
    <h2>
      Password Reset
    </h2>
  </div>
  <div class="display-message">
    <p>We've initiated a password reset process for your account. Please check your email inbox for further instructions. If you don't see the email, kindly check your spam or junk folder.</p>
    
    <p>If you haven't received the email within a few minutes, you can <a href="{% url 'migpt:account_reset_password' %}">request a new password reset here</a>.</p>

    <p>If you encounter any issues or need assistance, please feel free to <a href="{% url 'migpt:contact' %}">contact us</a>.</p>
  </div>
</div>
{% include "migpt/footer.html" %}
