{% load i18n %}
{% load allauth %}
{% load static %}
{% include "migpt/base.html" %}
<div class="center-container layout_padding">
    <div class="form-container">
        {% element h1 %}
        {% if token_fail %}
        <h2 class="form-heading">Bad Token</h2>
        {% else %}
        <h2 class="form-heading">Change Password</h2>
        {% endif %}
        {% endelement %}
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please
            request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
        {% else %}
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}
            <label for="id_password1" class="form-label">New Password:</label>
            <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required=""
                id="id_password1">
            <label for="id_password2" class="form-label">New Password (again):</label>
            <input type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2">
            <button class="btn btn-primary pass-reset-btn" name="action" type="submit">Change Password</button>
        </form>
        {% endif %}
    </div>
</div>
{% include "migpt/footer.html" %}