{% load static %}
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="{% static 'migpt/images/favicon.png' %}">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords"
        content="interview preparation, mock interviews, career success, job interviews, ai interview, interview feedback" />
    <meta name="description"
        content="Prepare for your next job interview with our AI-driven mock interview platform. Get personalized feedback, practice real-world scenarios, and elevate your career success." />
    <meta name="author" content="InterviewStreak" />
    <title>InterviewStreak</title>
    <script src="https://kit.fontawesome.com/89c401842d.js" crossorigin="anonymous"></script>    <link href="{% static 'migpt/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'migpt/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'migpt/css/responsive.css' %}" rel="stylesheet" />
    <script src="{% static 'migpt/js/jquery-3.7.0.min.js' %}"></script>
    <script src="{% static 'migpt/js/bootstrap.js' %}"></script>
    <script src="{% static 'migpt/js/main.js' %}"></script>
</head>

<body>
    <header class="header_section" id="navbar">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="{% url 'migpt:index' %}">
                    <img src="{% static 'migpt/images/logo.png' %}" alt="Logo image">
                    <span>InterviewStreak</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="s-1"> </span>
                    <span class="s-2"> </span>
                    <span class="s-3"> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Close button -->
                    <div class="d-flex flex-row-reverse">
                        <button class="navbar-close-toggler d-lg-none" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Close navigation">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'migpt:index' %}">Home <span
                                        class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'migpt:create_interview_session' %}">Start Interview
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'migpt:contact' %}">Contact Us</a>
                            </li>
                            <li class="nav-item nav-small-visible">
                                <a class="nav-link" href="{% url 'migpt:view_profile' %}">View Profile</a>
                            </li>
                            <li class="nav-item nav-small-visible">
                                <a class="nav-link" href="{% url 'migpt:feedback' %}">Feedback</a>
                            </li>
                            <li class="nav-item d-flex align-items-center nav-large-visible" id="userMenu">
                                <img class="user-pic" src="{% static 'migpt/images/profile-ic.png' %}"
                                    alt="User Profile Icon">
                                <span class="nav-dropdown-symbol"></span>
                                <div class="sub-menu-wrap" id="subMenu">
                                    <div class="sub-menu">
                                        <a href="{% url 'migpt:view_profile' %}"
                                            class="sub-menu-link sub-menu-link-first">
                                            <img src="{% static 'migpt/images/profile.png' %}" alt="View Profile">
                                            <p>View Profile</p>
                                        </a>
                                        <a href="{% url 'migpt:feedback' %}" class="sub-menu-link sub-menu-link-first">
                                            <img src="{% static 'migpt/images/feedback-icon.png' %}" alt="Feedback">
                                            <p>Feedback</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</body>

</html>