{% load static %}
<footer class="info_section footer-main">
  <div class="footer-section">
    <div class="footer-about">
      <h3>About Us</h3>
      <p>Welcome to our platform, where we specialize in AI-simulated mock interview practice. Our tailored services include comprehensive interview reviews, answer-based evaluations, scoring, personalized improvement suggestions, etc. Elevate your interview performance with us today.</p>
    </div>
    <div>
      <h4>Resources</h4>
      <ul>
        <li><a href="{% url 'migpt:create_interview_session' %}">Start Interview</a></li>
        <li><a href="{% url 'migpt:view_profile' %}">View Profile</a></li>
      </ul>
    </div>
    <div>
      <h4>Support</h4>
      <ul>
        <li><a href="{% url 'migpt:contact' %}">Contact Us</a></li>
        <li><a href="{% url 'migpt:feedback' %}">Feedback</a></li>
      </ul>
    </div>
    <div>
      <h4>Legal</h4>
      <ul>
        <li><a href="{% url 'migpt:terms_of_use' %}">Terms of Use</a></li>
        <li><a href="{% url 'migpt:privacy_policy' %}">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
<div style="text-align: center;">All rights reserved © 2024 InterviewStreak</div>
