{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block head_title %}MIGPT{% endblock %}</title>
        
    </head>
    <body>
      <div class="hero_area">
        {% include "migpt/base.html" %}
        <section class=" slider_section ">
          <div class="container">
            <div class="row">
              <div class="col-md-6 ">
                <div class="detail_box">
                  <h1>
                    AI-Powered Mock Interviews for Success <br>
                  </h1>
                  <p>
                    Step into the future of interview preparation with our AI-driven mock interview platform. Practice and refine your skills through realistic simulations tailored to various industries and job roles
                  </p>
                  <a href="{% url 'migpt:create_interview_session' %}" class="">
                    Start Interview
                </div>
              </div>
            </div>
        </div>
        </section>
      </div>
          <!-- end slider section -->
      </div>
        <!--service section-->
        
        <script>
            var JS_DATA = {
                'csrf_token' : '{{ csrf_token }}',
            }
        </script>
        <script src="{% static 'migpt/js/jquery-3.7.0.min.js' %}"></script>
        <script src="{% static 'migpt/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'migpt/js/main.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
