{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" href="{% static 'migpt/images/favicon.png' %}">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords"
            content="interview preparation, mock interviews, career success, job interviews, ai interview, interview feedback" />
        <meta name="description"
            content="Prepare for your next job interview with our AI-driven mock interview platform. Get personalized feedback, practice real-world scenarios, and elevate your career success." />
        <meta name="author" content="InterviewStreak" />
        <title>InterviewStreak</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'migpt/css/main.css' %}" rel="stylesheet">
        <link href="{% static 'migpt/css/bootstrap.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'migpt/js/bootstrap.js' %}"></script>
        <script src="{% static 'migpt/js/jquery-3.7.0.min.js' %}"></script>
        <script src="{% static 'migpt/js/main.js' %}"></script>
        <script src="{% static 'migpt/js/interview.js' %}"></script>
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1550.0.min.js"></script>
    </head>
    {% include 'migpt/chatbox.html' %}
</html>