{% load static %}
{% include "migpt/base.html" %}

<div class="center-container layout_padding">
    <div class="form-container">
        <h2 class="form-heading">Sign UP</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-label">
                First Name: <span style="color:red">*</span>
            </div>
            {{ form.first_name.errors }}
            {{ form.first_name }}
            <div class="form-label">
                Last Name: <span style="color:red">*</span>
            </div>
            {{ form.last_name.errors }}
            {{ form.last_name }}
            <div class="form-label">
                Email: <span style="color:red">*</span>
            </div>
            {{ form.email.errors }}
            {{ form.email }}
            <div class="form-label">
                Password: <span style="color:red">*</span>
            </div>
            {{ form.password1.errors }}
            {{ form.password1 }}
            <div class="form-label">
                Confirm your password: <span style="color:red">*</span>
            </div>
            {{ form.password2.errors }}
            <div class="password-container">
                <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2"
                    class="password-field">
                <span class="toggle-password" onclick="togglePasswordVisibility('id_password2')">
                    <i id="toggleIcon2" class="far fa-eye"></i>
                </span>
            </div>
            <label>
                <input type="checkbox" id="tos" name="tos" checked="" disabled="">
                    I understand and agree with the
                    <a href="{% url 'migpt:terms_of_use' %}" target="_blank">Terms of Use</a>
                    and <a href="{% url 'migpt:privacy_policy' %}" target="_blank">Privacy Policy</a>
            </label>
            <button class="btn btn-primary form-label" type="submit">Register</button>
        </form>
        <p class="text-center">If you already have an account, <a href="/accounts/login">login</a> instead.</p>
    </div>
</div>

{% include "migpt/footer.html" %}